<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.htwberlin.f4.ai.ma.indoorroutefinder">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".NodeListActivity" />
        <activity android:name=".MaxPictureActivity" />
        <activity android:name=".NodeShowActivity" />
        <activity android:name=".ShowFingerprintActivity" />
        <activity android:name=".ImportExportActivity" />
        <activity android:name=".EdgesManagerActivity" />
        <activity android:name=".RouteFinderActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".android.measure.MeasureViewImpl" />
        <activity android:name=".android.measure.barcode.BarcodeCaptureActivity" />
        <activity android:name=".android.record.RecordViewImpl" />
        <activity android:name=".android.calibrate.CalibrateViewImpl" />
        <activity
            android:name=".android.measure.edges.EdgeDetailsViewImpl"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".paperchase.PaperchaseMainActivity" />
        <activity
            android:name=".paperchase.AddPaperchaseActivity"
            android:parentActivityName=".paperchase.PaperchaseMainActivity"
            android:theme="@style/GreenActionBarTheme" />
        <activity
            android:name=".paperchase.AddCluesActivity"
            android:parentActivityName=".paperchase.AddPaperchaseActivity"
            android:theme="@style/GreenActionBarTheme" />
        <activity
            android:name=".paperchase.StartPaperchaseActivity"
            android:parentActivityName=".paperchase.PaperchaseMainActivity"
            android:theme="@style/GreenActionBarTheme" />
        <activity
            android:name=".paperchase.PlayPaperchaseActivity"
            android:parentActivityName=".paperchase.StartPaperchaseActivity"
            android:theme="@style/GreenActionBarTheme"></activity>
        <activity
            android:name=".NodeRecordEditActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        Not used!
        <provider android:authorities="ourContentProviderAuthorities"
            android:name=".ContentProviderDB"
            android:exported="false"
            android:syncable="true"/>
            !
        -->

        <activity android:name=".gps.activities.GpsTestActivity"></activity>
    </application>

</manifest>